*{
    padding: 0;
    margin: 0;
}

iframe{
    width: 90vw;
    height: 75vh;
    border: none;
}

a{
    text-decoration: none;
    color: lightskyblue;
}

.projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}