.apresentacao{
    background-color: cornsilk;
    padding: 8px;
    margin: 8px 0;
}

.apresentacao h1{
    text-align: center;
}

.habilidades{
    background-color: antiquewhite;
    padding: 8px;
    margin: 8px 0;
}

.habilidades h1{
    text-align: center;
}