.eu {
    width: 90vw;
    text-align: center;
    background-color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 16px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
.tabela {
    width: 90%;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 40px;
    padding: 40px 0;
    margin: 8px 0;
    box-sizing: border-box;
    height: 60vh;
    overflow-x: auto;
  }

.tabela img{
    width: 180px;
}
  
table {
    width: 100%;
    text-align: center;
  }

.introduction-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, black, grey);
}